<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Woo Stats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-control" content="no-cache">
  </head>
  <body>
    <noscript>
      <div class="noscript-error">
        <div class="main">
          <p class="you-must">Nothing to see here.</p>
        </div>
      </div>
    </noscript>
  </body>
</html>
